html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #0e0e0e;
    background-size: cover;
    color: #F4E7E1;
}

.description {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    background-color: #963316;
}
